
/**********************************************************************************************
 * ProcessWire Admin Control Panel - Skyscraper Theme - ui.css
 *
 * This file provides the final layout styling and overdies for the admin control panel. 
 * This is typically the last CSS file loaded, so it is used for overriding any default
 * styles provided by ProcessWire modules. 
 *
 * Copyright 2010 by Ryan Cramer
 *
 */


/****************************************************************************************
 * Theme specific jQuery UI overrides and additions
 *
 */

.ui-icon {
	float: left; 
}

label.ui-widget-header + div.ui-widget-content {
	/* remove doubled border between header/content on ui-widgets */
	border-top: none;
}

#notices .ui-state-highlight,
#notices .ui-state-error {	
	margin: 0 0 5px 0;
	padding: 8px 10px;
}

#notices .ui-state-highlight {
	background: #fffccf;
	color: #726b59;
	border: none;
}

#notices .ui-state-error {
	background: #d82d21;
	color: #fffccf;
	border: none;
}

#notices .ui-state-error pre {
	font-size: 11px; 
	margin: 6px 0;
}

#notices .ui-icon {
	position: relative;
	top: 2px;
	margin-right: 8px;
	width: 17px;
	height: 16px;
	display: block;
}

#notices .ui-state-highlight .ui-icon {
	background: url(images/notices.png) 0 0 no-repeat;
}

#notices .ui-state-error .ui-icon {
	background: url(images/notices.png) 0 -16px no-repeat;
}

#notices p {
	padding: 0;
	margin: 0;
}

p span.ui-state-error {
	padding: 0.25em 0.5em;
}

.ui-dialog .ui-dialog-content {
	padding: 0; 
}

.ui-widget-overlay {
	background: #000; 
}

.ui-button {
	margin: 0 4px 0 0;
	padding: 7px 11px; 
	font-size: 12px;
	font-weight: bold !important; 
	background: #6ec315 !important;
	border: none !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 
	cursor: pointer;
}

.ui-button:hover {
	background: #0170c1 !important; 
	color: #fff;
	border: none;
}

p > a > .ui-button {
	font-size: 12px;
}

a .ui-button {
	display: block;
	font-size: 12px;
}

/***********************************************************************************************
 * Theme Specific Pagination Markup
 *
 */

.MarkupPagerNav {
        list-style: none;
        margin: 0;
        padding: 0;
        margin: 1em 0;
}
        .MarkupPagerNav li {
                padding: 0;
                margin: 0;
                list-style: none;
                display: inline;
                padding: 6px 0;
                background: none;
        }

                .MarkupPagerNav li a {
                        padding: 4px 9px;
                        margin: 0;
                        text-decoration: none;
                        border: none;
                        background: #2f4248;
                        color: #fff;
                        font-weight: bold;
                        font-size: 11px;
                        text-transform: uppercase;
			opacity: 0.8; 
                }

                .MarkupPagerNav li a:hover {
			opacity: 1.0; 
		}

                .MarkupPagerNav li.MarkupPagerNavOn a {
			opacity: 1.0;
                        color: #fff;
                        background: #db1174;
                }

                .MarkupPagerNav li.MarkupPagerNavSeparator {
                        border: none;
                }


/****************************************************************************************
 * Theme specific PageList overrides
 *
 */

.PageList {
}
	/**
	 * Default color for page list items
	 *
	 */
	.PageList a.PageListPage, 
	.PageList a.PageListPage:hover {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
	}
	
		.PageList a.PageListPage {
			color: #444;
		}
		/**
	 	 * Color when hovered
		 *
		 */
		.PageList a.PageListPage:hover {
			color: #6ec315;
		}

	/**
	 * Color of page when opened
	 *
	 */
	.PageList .PageListItemOpen > a.PageListPage  {
		color: #6ec315;
	}

	/**
	 * Give the page a lighter/alternate color when it has a hidden status
	 *
	 */
	.PageList .PageListStatusHidden a.PageListPage {
		color: #8a8a8a; 
		font-weight: normal;
	}
	
		.PageList .PageListStatusHidden a.PageListPage:hover {
			color: #ee3a43; 
		}

	.PageListItem {
		padding: 10px 0 10px 28px;
		line-height: 16px;
		border-bottom: 1px solid #f3f3f3;
		background: url(images/page.png) 4px 10px no-repeat;
	}

	.PageListItemOpen {
		background: url(images/page_open.png) 4px 10px no-repeat;
	}

	.PageListStatusHidden {
		background: url(images/page_hidden.png) 4px 10px no-repeat;
	}
	
	.PageListStatusHidden.PageListItemOpen {
		background: url(images/page_hidden_open.png) 4px 10px no-repeat;
	}

	.PageListID1 {
		background: url(images/home.png) 4px 9px no-repeat;
	}

	.PageListID7 {
		background: url(images/trash.png) 4px 8px no-repeat;
	}

	.PageListID7.PageListItemOpen {
		background: url(images/trash_open.png) 4px 8px no-repeat;
	}
	
	.PageList .PageListItem .PageListActions li {
		border-left: 1px solid #f3f3f3;
		margin-left: 4px;
		padding: 0 0 0 4px;
	}
	
	.PageListPlaceholder {
		display: none;
	}

	.PageListPlaceholder + .PageListItem,
	.PageListPlaceholder + .PageList {	
		margin-top: 0 !important;
	}

	.PageListSortItem > a.PageListPage {
		background: none; 
		color: #ee3a43;
		cursor: move; 
	}
	
	.PageListSortPlaceholder {
		background-color: #e9edf0; 
		height: 20px; 
		width: auto; 
		border-left: 2px solid #3c545b; 
	}
	
	#content table.AdminDataList th,
	#content table.AdminDataList td,
	#content ul.AdminDataList li {
		border-bottom: 1px solid #f3f3f3;
		vertical-align: middle; 
		padding: 5px 0;
	}